
@media (min-width:280px) and (max-width: 550px) {
  .main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30%;
  }
  .background {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #FFE9DA;
    width: 76%;
    padding: 5%;
  }
  .main {
    margin-top: 10%;
  }
  .main div{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 7px;
  }
  #nickname{
    color: #483434;
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 1.35em;
  }
  #description{
    text-align: center;
    color: #5E4A48;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 1.175em;
  }
  .links a{
    margin-top: 10%;
    border: 1px solid #933B00;
    padding: 5% 0% 5% 0%;
    width: 70%;
    border-radius: 46px;
    text-decoration: none;
    color: inherit;
  }
  .links a:hover{
    text-decoration: none;
    color: inherit;
  }
  .links {
    width: 100%;
    margin-bottom: 10%;
    color: #933B00;
  }
  #link1{

  }
  #avatar{
    border-radius: 100px;
    width: 100%;
  }
  #avatardiv{
    width: 50%;
    padding-bottom: 5%;
  }
}
@media (min-width:550px) and (max-width: 900px) {
  .main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30%;
  }
  .background {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #FFE9DA;
    width: 76%;
    padding: 5%;
  }
  .main {
    margin-top: 10%;
  }
  .main div{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 7px;
  }
  #nickname{
    color: #483434;
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 1.7em;
  }
  #description{
    color: #5E4A48;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 1.3em;
    text-align: center;
  }
  .links a{
    font-size: 1.4em;
    margin-top: 10%;
    border: 1px solid #933B00;
    padding: 5% 0% 5% 0%;
    width: 85%;
    border-radius: 46px;
    text-decoration: none;
    color: inherit;
  }
  .links a:hover{
    text-decoration: none;
    color: inherit;
  }
  .links {
    width: 100%;
    margin-bottom: 10%;
    color: #933B00;
  }
  #avatar{
    border-radius: 100px;
    width: 100%;
  }
  #avatardiv{
    width: 40%;
    padding-bottom: 5%;
  }
}

@media (min-width:900px) and (max-width: 1400px){
  .main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30%;
  }
  .background {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #FFE9DA;
    width: 50%;
    padding: 5%;
  }
  .main {
    margin-top: 10%;
  }
  .main div{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 7px;
  }
  #nickname{
    color: #483434;
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 1.7em;
  }
  #description{
    text-align: center;
    color: #5E4A48;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 1.3em;
  }
  .links a{
    font-size: 1.3em;
    margin-top: 10%;
    border: 1px solid #933B00;
    padding: 5% 0% 5% 0%;
    width: 85%;
    border-radius: 46px;
    text-decoration: none;
    color: inherit;
  }
  .links a:hover{
    text-decoration: none;
    color: inherit;
  }
  .links {
    width: 100%;
    margin-bottom: 10%;
    color: #933B00;
  }
  #avatar{
    border-radius: 100px;
    width: 100%;
  }
  #avatardiv{
    width: 30%;
    padding-bottom: 5%;
  }
}
@media (min-width:1400px){
  .main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2%;
  }
  .background {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #FFE9DA;
    width: 20%;
    padding: 2%;
  }
  .main div{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 7px;
  }
  #nickname{
    color: #483434;
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 42px;
  }
  #description{
    text-align: center;
    color: #5E4A48;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 27px;
  }
  .links a{
    font-size: 31px;
    margin-top: 4%;
    border: 1px solid #933B00;
    padding: 5% 0% 5% 0%;
    width: 85%;
    border-radius: 46px;
    text-decoration: none;
    color: inherit;
  }
  .links a:hover{
    text-decoration: none;
    color: inherit;
  }
  .links {
    width: 100%;
    margin-bottom: 10%;
    color: #933B00;
  }
  #avatar{
    border-radius: 100px;
    width: 100%;
  }
  #avatardiv{
    width: 7%;
    padding-bottom: 2%;
  }
}
