img.displayed {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    height: auto;
    margin-top: -35px;
}

.subform {
    flex-direction: row;
    flex-flow: row wrap;
    text-align: center;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 800px;
    max-width: 100%;
    min-width: 360px;
    justify-content: space-around;
}

.subform input, .subform textarea {
    background: transparent;
    min-height: 30px;
    border: 1px solid grey;
    width: 250px;

}

.left-side {
    margin-left: 20px;
    text-align: center;
    display: inline-block;
    vertical-align: top;
}

.right-side {
    margin-right: 20px;
    margin-left: 20px;
    text-align: center;
    display: inline-block;
}

.subform input[type="reset"], .subform button {
    padding: 8px 10px;
    margin: 2px;
    font-size: 1em;
    color: white;
    background-color: #B580BE;
    border-radius: 5px;
    width: 45%;
}

.subform input[type="submit"] {
    padding: 8px 10px;
    margin: 2px;
    font-size: 1em;
    color: white;
    background-color: #00A287;
    border-radius: 5px;
    width: 100%;
}

.subform textarea {
    resize: none;
    width: 250px;
    height: 80px;
}

.subform input[type="file"] {
    border: none;
}
.button-center{
padding-left: 22px;
}
#create_card{
  padding-left: 15px;
}
